(function() {
  'use strict';

  angular
    .module('${1:module}')
    .config('${2:Config}Config', $2Config);

  $2Config.$inject = [];
  /* @ngInject */
  function $2Config(${3:dependencies}) {

  }
})();

