(function() {
  'use strict';

  angular
    .module('${1:module}')
    .component('${2:component}', {
      restrict: 'EA',
      controller: $2Controller
    });

  /* @ngInject */
  function $2Controller(${3:dependencies}) {
    var vm = this;
    ${4}
  }
})();
